

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #000000;
  }
  a:hover {
    color: #747bff;
  }
}

body {
  font-family: "Urbanist", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
