@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


:root {
  --black: #080808;
  --black-text: #1a1a1a;
  --white: #ffffff;
  --primary: #34c404;
  --font-urban: "Urbanist", serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #000000;
  }

  a:hover {
    color: #747bff;
  }
}

body {
  font-family: "Urbanist", serif;
  font-size: 14px;
  font-optical-sizing: auto;
  font-weight: 400;
  line-height: 20px;
}